body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

#time {
    font-size: 48px;
    margin-bottom: 20px;
}

.task-container {
    border-top: 1px solid #EEE;
    padding-top: 20px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}

.start-button {
    background-color: #FF5722;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.done {
    color: #4CAF50;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  